<div class="flex h-full w-full flex-col items-center gap-y-[10px]">
    <div class="flex w-[90%] flex-row justify-between gap-x-[10px]">
        <div>
            <div>{{ products()?.total }} products</div>
        </div>
        <div class="">
            <z-select
                zPlaceholder="Select number of items per page"
                [(zValue)]="pagination"
                (zSelectionChange)="onPaginationChange($event)">
                @for (option of paginationOptions; track $index) {
                    <z-select-item [zValue]="option.toString()"
                        >{{ option }} per page</z-select-item
                    >
                }
            </z-select>
        </div>
    </div>
    @if (!isLoading() && products() && products()?.products) {
        <div
            class="flex w-full flex-row flex-wrap justify-center gap-x-[5px] gap-y-[10px]">
            @for (product of products()!.products; track product.id) {
                <z-card class="flex w-[280px] flex-col justify-between">
                    <div card-content>
                        <a [routerLink]="['/product', product.id]">
                            <img
                                [ngSrc]="product.thumbnail"
                                width="230"
                                height="230"/>
                            <div class="text-2xl">
                                {{ product.price | currency }}
                            </div>
                            <div class="font-bold">{{ product.title }}</div>
                        </a>
                    </div>
                    <div card-footer class="w-full">
                        <button z-button zFull>
                            Add to Cart
                        </button>
                    </div>
                </z-card>
            }
        </div>
        <z-pagination
            class="mt-auto mb-[20px]"
            [zTotal]="totalPages()"
            [(zPageIndex)]="currentPage" />
    } @else {
        <ng-template #loading>
            <div class="h-full w-full">
                <z-loader />
            </div>
        </ng-template>
    }
</div>
