<div
    class="flex flex-row gap-x-[5px] max-lg:flex-col max-lg:gap-x-0 max-lg:gap-y-[10px]">
    <div id="filterButton" class="lg:hidden">
        <button z-button zType="outline" (click)="openFiltersSheet()">
            Filters
            <z-icon zType="list-filter" />
        </button>
    </div>
    <app-filter-list
        id="filterList"
        class="hidden w-1/8 lg:block"
        [categoryList]="categoryList()"
        [(categoryFilterValue)]="categoriesValue" />
    @if (!resource.error() && resource.isLoading()) {
        <div class="flex w-[100vw] h-[85vh] items-center justify-center">
            <z-loader [zSize]="'lg'"/>
        </div>
    } @else if (resource.error()) {
        <div class="flex w-full items-center justify-center py-16 lg:w-7/8">
            <app-error-state
                message="Failed to load products"
                (retry)="resource.reload()" />
        </div>
    } @else {
        <app-product-list
            id="productList"
            class="w-full lg:w-7/8"
            [products]="resource.value() ?? null"
            [pagination]="paginationValue()"
            (paginationChange)="onPaginationChange($event)"
            [(currentPage)]="currentPageValue"
            [isLoading]="resource.isLoading()" />
    }
</div>

<ng-template #filtersSheet>
    <app-filter-list
        [categoryList]="categoryList()"
        [(categoryFilterValue)]="categoriesValue" />
</ng-template>
