@media screen and (max-width: 1400px) {
    #filterList {
        width: 25%;
    }
}

@media screen and (max-width: 1024px) {
    #filterList {
        display: none;
    }
    #productList{
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    #filterButton {
        display: none
    }
}