<div
    class="flex flex-row gap-x-[5px] max-lg:flex-col max-lg:gap-x-0 max-lg:gap-y-[10px]">
    <div id="filterButton" class="lg:hidden">
        <button z-button zType="outline" (click)="openFiltersSheet()">
            Filters
            <z-icon zType="list-filter" />
        </button>
    </div>
    <filter-list
        id="filterList"
        class="hidden w-1/8 lg:block"
        [categoryList]="categoryList()"
        [(categoryFilterValue)]="categoriesValue" />
    <product-list
        id="productList"
        class="w-full lg:w-7/8"
        [products]="resource.value() ?? null"
        [pagination]="paginationValue()" 
        (paginationChange)="onPaginationChange($event)"
        [(currentPage)]="currentPageValue"
        [isLoading]="isLoading()"
        />
</div>

<ng-template #filtersSheet>
    <filter-list
        [categoryList]="categoryList()"
        [(categoryFilterValue)]="categoriesValue" />
</ng-template>
