<div class="flex h-full w-full flex-col p-[10px]">
    <div class="flex w-full flex-row items-center gap-x-[10px] py-[5px]">
        <z-icon zType="list-filter" />
        <h3>Filters</h3>
    </div>
    <z-accordion zType="multiple" [zDefaultValue]="openFilters">
        <z-accordion-item zValue="categories" zTitle="Categories">
            <div [formGroup]="filtersForm" class="flex h-full w-full flex-col">
                <div formArrayName="categories">
                    @for (
                        category of categoriesFormArray;
                        track category;
                        let i = $index
                    ) {
                        <div [formGroupName]="i">
                            <span z-checkbox formControlName="checked">{{
                                category.value.name
                            }}</span>
                        </div>
                    }
                </div>
            </div>
        </z-accordion-item>
    </z-accordion>
</div>
